[2015-01-16 00:34] mbrush opened #1 "Representation of chromosomal boundary regions"
**Transferred from:** [NIF-11899](https://support.crbs.ucsd.edu/browse/NIF-11899)
**Original Reporter:** Melissa Haendel

---

This landmark paper describes the identification of chromosomal boundary regions. http://www-ncbi-nlm-nih-gov.liboff.ohsu.edu/pmc/articles/PMC3356448/

references other papers describing other types of chromosomal boundaries:

A and B compartments http://www-ncbi-nlm-nih-g

[2015-01-16 00:44] mbrush opened #2 "Need more heredity in GENO"
**Transferred from:** [NIF-11673](https://support.crbs.ucsd.edu/browse/NIF-11673)
**Original Reporter:** Nicole Washington

---

We need to expand the genetic heritability subclasses to include:

X- Y- Z- linked (allosomal)
autosomal
unknown genetic heritability

these should probably be linked to the phenotypic dominance terms. these will get used when the genetic basis of inheritance is known, b

[2015-01-16 00:46] mbrush opened #3 "Add allele properties"
**Transferred from:** [NIF-11599](https://support.crbs.ucsd.edu/browse/NIF-11599)
**Original Reporter:** Nicole Washington

---

We need a section of GENO that records the properties of an "allele" on phenotype/gene expression. These "alleles" could be genetic changes or externally applied changes (like morpholinos/RNAi, transient transfection).

The kinds of things that need to be included here a

[2015-01-16 00:48] mbrush opened #4 "Add transgenic insertion types to genotype model/SO"
**Transferred from:** [NIF-11935](https://support.crbs.ucsd.edu/browse/NIF-11935)
**Original Reporter:** Melissa Haendel

---

Not necessarily exactly the same, but see types from MGI:
spontaneous
chemically induced (all)
chemically induced (ENU)
radiation induced
transposon induced
QTL
transgenic (all)
transgenic (random, expressed)
transgenic (random, gene disruption)
transgenic (Cre/Flp)
transg

[2015-01-16 00:58] mbrush opened #5 "IMPReSS assays and phenotypes for KOMP2"
**Duplicated from:** [NIF-11832](https://support.crbs.ucsd.edu/browse/NIF-11832)
**Original Reporter:** Melissa Haendel

_This modeling is related to the association model which will likely live in GENO for now, so duplicating from the NIF JIRA into the GENO tracker. But may ultimately live elsewhere._

---

We are going to need to be able to represent all aspects of KOMP2 phenotyping.
https://www

[2015-01-16 01:01] mbrush opened #6 "Map GENO to HPO inheritance/dominance"
**Transferred from:** [NIF-11647](https://support.crbs.ucsd.edu/browse/NIF-11647)
**Original Reporter:** Nicole Washington

---

i notice that HPO has some dominance/inheritance terms. these should be reconciled some way with GENO.

for example:
http://www.human-phenotype-ontology.org/hpoweb/showterm?id=HP:0000006

[2015-01-16 01:10] mbrush opened #7 "susceptable_to relationship"
**Initially reported on RO tracker:** https://code.google.com/p/obo-relations/issues/detail?id=31
**Original Reporter:** Nicole Washington

_Such a relation is needed in GENO as well, so we should work to get this into the RO and use in GENO_

---

**Initial post:**
we need a relationship that aids in describing the susceptibility of a disease due to variation(s) of genomic regions.

for example:

[2015-01-16 05:22] pnrobinson commented on #6
Please note that the HPO terms are defined in a way that makes sense for humans. Under the assumption that GENO will not want to be guilty of rampant speciesism please consider for instance that X/Y are not universal:
http://en.wikipedia.org/wiki/ZW_sex-determination_system
One solution would be to somehow define the HPO terms as descendents of some UBER inheritance terms.
Also, whenever it might

[2015-01-16 05:24] pnrobinson commented on #3
"hypomorph" etc. is not a genotype this is a consequence of a genotype at a biochemical level.

Please also note that there is a good ontology that covers things like this

http://variationontology.org/

--Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berl

[2015-01-16 05:25] pnrobinson commented on #2
Final comment: Inheritance also is not part of the actual genotype, and it is debatable whether it belongs in GENO. What actually is the mission statement of GENO?
-Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berlin
Institut für Medizinische Genetik und

[2015-01-17 16:09] mellybelly commented on #6
I agree, we should get these into GENO in a generic way. The HPO terms can be either subclasses or HPO-specific labels and end-user descriptions if needed. We could also just start only with organisms that in fact do have XY sex determination mechanisms.

See also related terms in PATO having to do with sexual development and dimorphism.

[2015-01-17 23:12] selewis opened #8 "Add classes of genetic sex"
These are needed for GA4GH meta-data. I pointed them here to GENO as an alternative to creating enums. If there is a better home that's fine, but let's try and avoid them using an enum

[2015-01-20 23:36] mbrush commented on #2
@pnrobinson  Regarding the mission and scope of GENO, the readme for this repo is currently the main public documentation on this.  I updated it today to give a bit more detail, and will continue to improve this and add content to the wiki.  While the primary charge of GENO is to represent the different levels of genetic variation represented in genotypes, it also holds concepts related to genetic

[2015-02-17 19:11] cmungall opened #9 "Align with DDGENMOD"
https://github.com/dictyBase/migration-data/tree/master/ontologies

cc @pfey03

[2015-02-20 18:34] nlwashington opened #10 "sex chromosomes in non-mammals"
GENO currently only models the sex chromosome zygosity for mammals (with X and Y), but it should also accommodate the models for birds/reptiles which is Z and W.

here's some info:
http://en.wikipedia.org/wiki/ZW_sex-determination_system

i think that for now, we can leave out the monotremes from the model, but be aware that they have a blended method for their sex-determination system (and bunche

[2015-03-10 20:40] nlwashington opened #11 "review various genomic rearrangement notation"
i have been pointed to the documentation for chromosomal rearrangements:
http://onlinelibrary.wiley.com/doi/10.1002/0471142905.hga04cs17/pdf

this has a lot of good information about karyotypes, and all the kinds of things that can happen.  here's some examples of real karyotypes in the coriell data to model:

*46;XX;46;XX;der(10)(10qter>10p15::11q13>11qter) [13]/46;XX[37];46;XX{82}/46;XX;der(10)t

[2015-03-17 22:56] ccondit opened #12 "Questionable IRIs"
There are a few IRIs in geno.owl that use invalid URIs:

[code]

and

[code]

Is this intentional? Should these be resolvable IRIs?

/cc @nlwashington

[2015-03-17 23:38] mbrush commented on #12
These IRIs were added to support some tooling that I Shahim and I are developing, which reads these property IRIs to support module extraction or URI creation scripts.  They are not part of GENO proper, and should not have been in geno.owl in the first place. Apologies . . . going forward I will keep such properties segregated in a separate owl file that is not in the import chain.

Generally, GEN

[2015-04-08 18:54] mbrush opened #13 "Species specific classes for genome, chromosomes, and their parts"
We are generating an ontology of reference chromosomes and their parts (arms, regions, bands) from the UCSC chromosome band data ( see [dipper issue #42](https://github.com/monarch-initiative/dipper/issues/42) ).  It  is expected that this ontology will grow to include  bands from the genomes of other species.  To organize these in the ontology, we may want to create species specific grouping clas

[2015-04-08 18:59] mbrush opened #14 "SO term requests"
Central Ticket for documenting all term requests for SO.
1. chromosome band staining intensity qualities presently implemented in GENO as placeholders. And then mireot to replace temp GENO classes. Also need the object property for linking a band to its staining intensity.
2. new chromosome parts (chromosomal region, chromosome arm, long chromosome arm, short chromosome arm).  And then mireot to r

[2015-04-08 19:38] nlwashington opened #15 "epigenetic genotype (epitype?)"
At some point we'll need to consider a person's epigenetic factors related to disease susceptibility, etc.  This could include methylation patterns, histone modifications, etc.

Should this be another subclass of "genotype" (GENO:0000536) and/or part of the "intrinsic genotype" (GENO:0000000) ?  There are some relevant classes in SO related to these kinds of modifications:
http://sequenceontology.

[2015-04-08 22:08] selewis commented on #15
I tend to agree - i.e. epigenetic isn't part of the genotype.

For example, methylation does indeed involve covalent links of methyl
groups to the DNA and is inherited, but it's not part of what's encoded.
Rather more like barnacles that is dragged along with the ship after
attachment.

-S

On Wed, Apr 8, 2015 at 12:38 PM, Nicole Washington <notifications@github.com

[2015-04-13 22:27] nlwashington opened #16 "karyotype"
add karyotypes as a kind of (or is a part of) genotype?
there are also probably subtypes, like:

<pre>
[Karyotype](http://en.wikipedia.org/wiki/Karyotype)
  Visible Karyotype  (such as by FISH)
  [Virtual Karyotype](http://en.wikipedia.org/wiki/Virtual_karyotype)
    Array-based karyotype
          SNP array karyotype
          arrayCGH karyotype
    Sequencing-based karyotype
</pre>

some issues:

[2015-04-13 22:30] nlwashington commented on #16
the only term that i could find, but not what we need:
http://www.ebi.ac.uk/efo/EFO_0004426

[2015-04-14 18:17] selewis commented on #16
I can see the need to add karyotype, but can logically see it as either a
'kind of' or a 'part of' a genotype. While the banding pattern (that is, a
karyotype) can reflect major chromosomal rearrangements, it's a far stretch
I think.

On Mon, Apr 13, 2015 at 3:30 PM, Nicole Washington <notifications@github.com

[2015-04-28 22:36] nlwashington opened #17 "need more chr stains"
mouse list the following staining patterns:

gneg
gpos100
gpos33
gpos66
gpos75

so, we need to add gpos33 and gpos66

[2015-04-28 23:11] mbrush commented on #17
Added the following to GENO:

gpos33 : GENO_0000633
gpos66 : GENO_0000632

[2015-04-28 23:11] #17 closed, assigned to mbrush

[2015-05-01 16:10] mellybelly opened #18 "genetic disease polygenic vs. monogenic"
We need some classification of inheritance patterns, this should relate existing classes. Not sure which ontology or where this goes, but something like this:

inheritance pattern
--polygenic
--monogenic
----dominant
----recessive
etc.
--no inheritance pattern (not sure what to call this but we need to be able to classify diseases where there is no known genetic inheritance pattern).

@nlwashingto

[2015-05-02 05:25] pnrobinson commented on #18
There are a number of classes in HPO for this, have you had a look?

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universit�t Berlin
Institut f�r Medizinische Genetik und Humangenetik
Charit� - Universit�tsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450

[2015-05-08 13:29] nlwashington opened #19 "germline vs somatic variants"
we will need to disambiguate between variants (and perhaps any geno partonomy) that are germline vs somatic.

how should these be represented?  should there be classes for "germline variant" "somatic variant", or perhaps there is some kind of property about the origin of the variation "germline origin".  if it's a "somatic origin", i could see perhaps linking the origin to a tissue or cell type, i

[2015-05-08 22:19] selewis commented on #19
Seems like a property (relationship type?) might be the best way to go.
It's easy to imagine all sorts of ways of partitioning variants.
germline vs. somatic
point vs. cnv vs. rearrangement
impact types
etc., etc.

On Fri, May 8, 2015 at 6:29 AM, Nicole Washington notifications@github.com
wrote:

[2015-05-12 17:15] nlwashington opened #20 "promoters driving expression"
we need to have some examples of how to model promoters of one gene driving the expression of another.

for example, there is a zfin construct [Tg(zp3:fsta,myl7:EGFP)](http://zfin.org/ZDB-TGCONSTRCT-121211-1) where the promoter of [zp3](http://zfin.org/ZFIN:ZDB-GENE-991129-7) is driving the expression of [fsta](http://zfin.org/ZDB-GENE-990714-11).

i am not sure how to capture this with GENO model

[2015-05-12 18:42] pnrobinson commented on #20
Hi everybody,
be aware that the concept of promoter is per se difficult and there are lots of regions that seem to be bidirectional. Here is an example of a study on a related topic by a colleague of mine here:

http://www.ncbi.nlm.nih.gov/pubmed/25639469

Therefore, I would tend to avoid using ontological concepts like "promoter_of_zp3".
I do not really have an idea of the best way to model thing

[2015-05-17 15:53] nlwashington opened #21 "reference and alternate base properties"
We need some object and/or data properties for listing reference and alternate nucleotide (and/or amino acid) sequences.  I could not find any other ontologies that have these.

so to say something like:

my_sequence_alteration has_alternate_nucleotide_sequence 'A'

but the question would be, where would the has_reference_nucleotide go?  i don't think we'd want to attach it to the variant.

also,

[2015-06-03 16:16] mbrush commented on #3
GENO covers lots of concepts related to genotypes, including attributes of variants such as these.  We are coordinating with the Sequence Ontology to implement such terms in SO or GENO for community re-use. Vario overlaps largely with SO (where we would rather put these things).  And at present, I don't think either Vario or SO implements classes like this.

[2015-06-03 16:19] mbrush commented on #3
A hierarchy/requirements from our Wormbase contacts (2015-06-02):
![wormbasevariantattributehierarchy](https://cloud.githubusercontent.com/assets/5184212/7965307/74d365a4-09d1-11e5-8e99-8b3a7e0241ca.png)

[2015-06-05 21:29] kyook commented on #3
Here are terms that we will be using for the time being in WB to describe allele functional effects. I look forward to getting them in sync with GENO terms. I will send you an obo file via e-mail.

![screen shot 2015-06-05 at 14 22 33](https://cloud.githubusercontent.com/assets/611610/8015542/598dd1f8-0b8e-11e5-90de-d6a4e8810db8.png)

[2015-06-12 17:36] mbrush commented on #21
see cgd dataset for use of temp properties created for this ticket

[2015-06-18 17:21] mbrush commented on #19
SO has a sequence attribute hierarchy describing variant origin.

SO_0001762 (variant origin)
---SO_0001781 (de novo variant)
---SO_0001778 (germline variant)
---SO_0001775 (maternal variant)
---SO_0001776 (paternal variant)
---SO_0001779 (pedigree-specific variant)
---SO_0001780 (population-specific variant)
---SO_0001777 (somatic variant)

I suggest we simple create triples that link variants to

[2015-06-30 23:42] mbrush commented on #20
Regarding:

[code]

My response here is that such a case of a WT human gene inserted as a transgene into a zebrafish genome represents a sequence-variant locus. Not an expression variant. This is consistent with how these terms are defined/used in GENO (and also with the SO notion of a sequence feature).  My rationale is below.

As variant loci in GENO are 'sequence features', they are defined by

[2015-07-01 00:19] mbrush commented on #20
Regarding:

[code]

By the same reasoning applied in my comments above, I can say that 'this promoter' **_does not**_ actually also regulate the ftsa gene.  'This promoter' here refers to a specific instance of a feature that is found in a zebrafish genome. It is a variant feature in this context -  and it is a different entity than the canonical zp3 promoter (these would have different IRIs). Thi

[2015-07-01 00:21] mbrush commented on #20
Finally, regarding then need for a link from Tg promoters to the genes they drive expression of in the transgene, the current modeling approach in GENO supports this by creating a node for the promoter (a regulatory feature) and a node for the expressed gene (a coding feature), and linking these both as parts the same Tg feature (the transgenic insertion) node. We implemented roughly this model in

[2015-07-01 19:34] nlwashington commented on #20
yes, i think it would be a very good thing to have a link between the promoter and coding element.  we need to think about this generally, even in the context of the normal genome as well.  would [RO:regulates](http://purl.obolibrary.org/obo/RO_0002211) be sufficient?

[2015-07-01 19:58] mbrush commented on #20
RO:regulates holds between two processes, so it would not apply here. The closest relation I see in the RO that might work is [RO_0002448](http://www.ontobee.org/browser/rdf.php?o=RO&iri=http://purl.obolibrary.org/obo/RO_0002448) 'molecularly controls'.

The issue here is that RO_0002448 is a relation between two material entities, and the domain and range in our use case are abstract sequence fea

[2015-07-01 21:29] pnrobinson commented on #20
I disagree that a promoter is an abstract sequence entity. It is a material entity that we choose to represent with a series of letters, but that does not make it abstract. Perhaps we are uncertain exactly where the entity begins and end, but that does not mean that it does actually have a beginning and end.
Gene expression on the other hand is a little abstract, since we actually mean the number

[2015-07-14 20:54] mbrush commented on #20
Re: a promoter being an abstract entity - My apologies for not being clear here.  I meant this in the ontological sense, in that all sequence features are modeled in our data as generically dependent continuants (GDCs) in the BFO sense - non-physical entities whose existence is dependent on material bearers.  That is, we choose to model the abstract/information content inherent in a physical seque

[2015-07-15 05:28] pnrobinson commented on #20
There are multiple philosophical problems with the way we describe biology. FOr instance, a sentence like "SMAD2 goes into the nucleus" treats the cell like a PowerPoint diagram with arrows, and acts as if there is one entity called SMAD2 that volitionally goes from one place in the cell to another, whereas actually there are equilibria and millions of random movements whose distribution is change

[2015-07-15 15:22] mbrush commented on #20
Yes, I would agree and think Chris would as well, that we should be pragmatic when  it comes to how constrained we are by the semantics of RO.  As long as we avoid any problematic reasoning consequences, we can be flexible with how we apply RO properties, and/or refine their meaning to be more general where it doesnt break anything else (i.e. the model does the right thing for everyone) .

[2015-09-01 21:52] nlwashington commented on #2
here is a set of inheritance used by OMIA (which covers >200 species):

Autosomal
Autosomal Co-Dominant  =  GENO:0000143
Autosomal Dominant  =  GENO:0000147
Autosomal Incompletely Dominant  =  GENO:0000259
Autosomal Recessive  =  GENO:0000150
Autosomal Recessive Lethal
Autosomal Recessive, Semi-Lethal
Autosomal Semi-Dominant  =  GENO:0000145
Autosomal dominant with variable expressivity
Dominant

[2015-09-14 20:14] mbrush opened #22 "Mode of Inheritance classes"
Ticket #2  proposes a hierarchy of mode of inheritance terms for GENO that covers diversity of concepts in this area need for data ingest and interoperability.  Here we discuss the ontological nature and definitions of these concepts so that we may create a clear and useful model of them for the larger community. The central question is how to frame them -  as **processes** of inheritance?  As **q

[2015-09-14 20:17] mbrush commented on #2
I reviewed several tickets (#2, #6, #18) relating to the issue of defining a hierarchy of phenotypic inheritance classes in GENO, to describe the mode of inheritance of traits/phenotypes/diseases.

As per Peter and Melissa's comments in #6, we will define classes generically for all taxa, and make equivalence or subsumption links where appropriate to terms in existing vocabularies such as those in

[2015-09-14 20:20] mbrush commented on #2
Also of note, some of the terms requested for OMIA seem to conflate inheritance and other aspects of phenotype manifestation. For example 'Autosomal dominant with variable expressivity'.  Should this be captured with annotations to two terms, 'complete dominant autosomal inheritance' and 'variable expressivity'? I prefer this over cramming the notion of expressivity into the inheritance hierarchy.

[2015-09-14 20:52] pnrobinson commented on #2
I agree these terms should be "de-bundled"
-Peter

Dr. med. Peter N. Robinson, MSc.
Professor of Medical Genomics
Professor in the Bioinformatics Division of the Department of Mathematics and Computer Science of the Freie Universität Berlin
Institut für Medizinische Genetik und Humangenetik
Charité - Universitätsmedizin Berlin
Augustenburger Platz 1
13353 Berlin
Germany
+4930 450566006
Mobile: 016

[2015-09-24 23:44] mellybelly commented on #2
I agree, don't like lethality being bundled. This one especially is a phenotype. We need to have a better way of representing lethality at different stages, but this is a separate issue.

We do need an expressivity term, but I think this would be a PATO term.

I think these terms can live in GENO and then they can get mireoted into the respective phenotype ontologies as needed.

I prefer the first

[2015-09-24 23:44] mellybelly commented on #2
Also keep the unknown, i know its not "ontologically correct", but we need to easily parse out the assertions of unknown heritability rather than annotating up.

[2015-09-25 00:35] mellybelly commented on #22
I like the simplicity of (1). I feel like (2) is just odd, even though this is how it is often expressing in natural language, it really is not a quality of the phenotype itself. (3) is perhaps more ontologically correct, but very complicated to model.

If we go with (1), perhaps consider a different property, 'baldness' participates_in or is output_of some 'X-linked inheritance' seem funny, maybe

[2015-09-25 00:57] mbrush commented on #22
Thanks for the feedback Melissa. And yes, the participates_in example above was just meant to indicate some type of participation relation is needed if we frame inheritance types as processes.  Something more meaningful/precise can be used. Your thoughts on all this @cmungall and @pnrobinson?

[2015-09-25 01:03] mbrush commented on #2
Translating Melissa's feedback from our discussion today:
- prefers Proposal 1 of classifying along multiple dimensions and creating defined classes to get a polyhierarchy with inferred multiple inheritance to the extent it is found useful. So we'd need to create logical definition patterns to get multiple inheritance.
- agrees we should separate lethality from our inheritance classes.  Expressivi

[2015-09-25 01:04] cmungall commented on #22
process seems most extensible as its easier to slot more participants in.

How would alleles fit in, if at all? Might be useful to see some triples for Mendel's peas.

[2015-09-25 01:09] mellybelly commented on #22
That should go in the paper!

On Sep 24, 2015, at 6:04 PM, Chris Mungall <notifications@github.com<mailto:notifications@github.com>> wrote:

process seems most extensible as its easier to slot more participants in.

How would alleles fit in, if at all? Might be useful to see some triples for Mendel's peas.

—
Reply to this email directly or view it on GitHubhttps://github.com/monarch-initiative/GE

[2016-01-14 01:10] nlwashington opened #23 "haplotype"
We need to add the concept of haplotypes.

Def from the interwebs:
A haplotype is a set of DNA variations, or polymorphisms, that tend to be inherited together. A haplotype can refer to a combination of alleles or to a set of single nucleotide polymorphisms (SNPs) found on the same chromosome.

clearly related, but not equivalent, to variant single locus complement.

required to properly express c

[2016-04-14 16:08] jnguyenx opened #24 "Typo in the human taxon name"
https://github.com/monarch-initiative/GENO-ontology/blob/develop/src/ontology/geno.owl#L5342

It should be a capital "H".

See https://github.com/monarch-initiative/monarch-app/issues/1224

[2016-04-14 16:11] jnguyenx commented on #24
cc @cmungall @balhoff

[2016-04-14 16:11] cmungall commented on #24
Other species too

On 14 Apr 2016, at 9:08, Jeremy wrote:

[2016-04-14 16:26] #24 closed, assigned to mbrush

[2016-04-14 16:27] mbrush commented on #24
Updated labels in GENO.  If this is the source of the issue it should be resolved.

[2016-06-03 02:43] cmungall opened #25 "Document how gene interactions are modeled"
A good question from @kyook (see the slides in Dropbox for background)

[code]

[2016-06-03 02:45] cmungall opened #26 "Add slides or link to slides in this repo"
We have good slides in our dropbox, We should either put them on slideshare or git add them here

[2016-06-04 00:58] mbrush commented on #26
Will do.  Have soem content in the wiki, and a GENO paper and slide deck in the /docs folder of the repo, but they are a bit dated.  Will find most appropriate slides from Dropbox and add to repo.

[2016-06-14 23:15] mbrush commented on #25
Yes, good catch.  The slides you looked at are likely an early iteration where we allowed for 'promiscuous' phenotype propagation.  Specifically, in cases where phenotypes were annotated to 'complex' genotypes (e.g. a double-mutant where two genes are variant), we propagated phenotypes down the genotype partonomy to each variant allele and affected gene.  As you point out, this does not account fo

[2016-06-15 19:40] #26 closed, assigned to nobody

[2016-06-15 19:40] mbrush commented on #26
Updated the slide deck hosted in the github repo (docs folder), and added link to it from the README file.

[2016-06-17 00:19] mbrush commented on #22
Interesting examples to inform modeling from ClinGen Modeling efforts here: http://datamodel.clinicalgenome.org/development/assertion/conceptual/condition_inheritance.html

[2016-08-18 18:32] jmcmurry commented on #16
Adding karyotype and chromosome are two possible ways to get out of dead end genotype pages; see https://github.com/monarch-initiative/monarch-app/issues/1319

[2016-10-05 13:17] cmungall opened #27 "Use OBO obsoletion policy for retired IRIs"
Reported by @TomConlin https://github.com/monarch-initiative/dipper/issues/379

geno-developer has:

[code]

I recommend using the obsoletion plugin and not burying IRIs in comments

TO manually repair, add back the IRI, deprecated it, and use a term replaced by axiom to
http://purl.obolibrary.org/obo/GENO_0000382 (has_variant_part)

[2016-11-02 06:46] TomConlin opened #28 "geno0000846"
https://github.com/monarch-initiative/GENO-ontology/blob/develop/src/ontology/geno.owl#L144

missing underscore after geno

[2016-11-02 06:48] TomConlin commented on #28
https://github.com/monarch-initiative/GENO-ontology/blob/develop/src/ontology/geno.owl#L154

geno0000846 too

[2016-11-02 17:28] mbrush commented on #28
fixed.  thanks tom.

[2016-11-02 17:28] #28 closed, assigned to nobody

[2016-12-22 16:56] kshefchek commented on #23
+1 or make SO:0001024 ! haplotype a subclass of genotype.

[2017-02-23 21:27] mbrush opened #29 "Collecting use cases/requirements for genotype data representation and use"
Seems that there have been discussions/ideas happening about genotype/variant representation - with use cases/requirements coming from Monarch and other efforts (e.g. JAX, MGI, MPD, AGR, etc).

I'd like to collect info on these efforts and any requirements/thoughts about genotype data representation,  querying, operations, and rendering in applications, etc.  - ideally in advance of the Feb 28  'G

[2017-02-23 21:48] sbello commented on #29
The AGR groups annotate disease data to a variety of entities, including; 'fish', strains, genotypes, alleles, transgenes/constructs and genes. Ideally, we would like an ontology that would encompass all these entities. 'Fish' encompasses genotype + environment to use in the disease annotation files and eventually in the phenotype annotation files.

[2017-02-23 21:52] #23 closed, assigned to mbrush

[2017-02-23 21:54] mbrush commented on #23
added haplotype  class with commit e2836d6

[2017-02-23 23:33] #16 closed, assigned to mbrush

[2017-02-23 23:33] #20 closed, assigned to nobody

[2017-02-24 00:29] mbrush commented on #29
@sbello GENO should cover all of these entities - although there are some nuances around how 'fish' and 'constructs' might map to concepts in GENO.  We should discuss to ensure GENO meets AGR needs here.

[2017-02-24 00:33] mellybelly commented on #29
also note that GENO was developed in part based on the modeling we did at ZFIN ;-)

[2017-02-27 00:05] mbrush opened #30 "Collect set of GENO competency questions"
A rich and diverse set of CQs related to genotype representation and G2P associations would be useful for  a number of purposes:

- inform model development
- document utility of the GENO model and Monarch data
- drive  identification of new data sources required to address CQs
- inform new Monarch application requirements (w.r.t. information to display, derive, or analyze)

CQs can come from Mona

[2017-02-27 03:51] mbrush commented on #29
An example of a very specific modeling requirement from @dosumis related to transgene representation to accommodate data from the VirtualFlyBrain and Flybase projects. Essentially:

1. Transgene representation needs to account for perspective where a single transgenic insertion can generate more than one variant allele (where causative  variant may depend on the design/perspective of a given G2P e

[2017-02-27 15:20] dosumis commented on #29
This is not a fly specific issue.  To give one major example, the mouse phenotype consortium generates knock-ins for each targeted gene.  These can be considered to be alleles of the knocked in marker (lacZ) which capture the regulatory sequences of the targeted gene as well as knock-out (null?) alleles of the targeted gene. Even if you don't treat the transgene as an allele of the gene it carries

[2017-02-27 23:14] kyook commented on #29
WormBase has variation types of

-Engineered_allele
-Allele
-SNP
-Confirmed_SNP
-Predicted_SNP
-RFLP with attached tags of Reference_strain_digest and
Polymorphic_strain_digest Transposon_insertion with cross reference to
?Transposon_family
-Natural_variant

Engineered_allele is the tag we use for Crispr alleles and transgenic
insertions into known defined genetic loci.

For transgenic insertions

[2017-05-03 19:43] mellybelly commented on #3
I'd also like to have protein effects, such as becoming constituently active

[2017-05-03 23:12] jmcmurry opened #31 "Extend to model complex transgenics (such as CRISPR) and overexpression"
Per R24 [here](https://docs.google.com/document/d/1s5waFXyzyYz8oZe6MYZ4WwTb1BzdTgki-PiQ7JTmRfE/edit)

[2017-05-24 00:35] mbrush opened #32 "Add 'diplotype' class"
See definition here: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4118015/

Needed for ClinVar annotations -- which will soon be made to diplotypes.

[2017-05-30 16:48] mbrush commented on #32
added diplotype class to close this issue.

[2017-05-30 16:48] #32 closed, assigned to nobody

[2017-08-10 21:33] mbrush opened #33 "Implement classes describing phenotype/disease penetrance"
Needed for ClinGen variant interpretation data modeling.

HPO has just two classes already in this area - complete, incomplete, age-dependent.

[2017-09-20 23:29] mbrush commented on #22
To consider:

Mode of Inheritance: Def = the disposition of a trait or condition (phenotype or disease) to manifest in an organism when a particular allelic complement is present in the host genome.

Autosomal dominant inheritance then would be  defined as: A mode of inheritance whereby manifestation of a trait or condition requires inheritance of only one copy of a causative allele in an autosoma

[2017-11-08 19:48] nataled opened #34 "Clarification on "gene allele" http://purl.obolibrary.org/obo/GENO_0000014"
The Protein Ontology has been tasked with taking over the protein-related terms from MRO (Major Histocompatibility Complex (MHC) restriction ontology). The MRO terms are often defined with respect to a locus, which can include multiple syntenic genes. For example, HLA-A, HLA-B, and HLA-C are all genes located at the HLA locus (human); H2-Q1 through H2-Q15 are all genes located at the H2-Q locus (m

[2017-11-14 01:17] mbrush commented on #34
Hi @nataled. Formulating some thoughts here - will reply soon. Thanks for the question/feedback!

[2017-11-21 23:31] mbrush commented on #34
Hi @nataled - thanks for your patience, and pardon my long response below . . . once I got going I had a lot to say here!

#### Thoughts on GENO:
First, regarding 'canonical allele', please ignore this term altogether.  It is based on a concept from the [ClinGen Allele model](http://datamodel.clinicalgenome.org/allele/conceptual/canonical_allele/), and was added to GENO simply to provide an ontolo

[2018-01-23 17:15] mbrush commented on #34
@nataled just following up on this to see if you had further questions or requests w.r.t. GENO.  Happy to work with you to make GENO address your needs. Thanks!

[2018-01-23 17:53] nataled commented on #34
I have been caught up in a major project that diverted and absorbed my attention for quite some time. I'm also awaiting some feedback on other issues related to MRO which might affect this issue. I hope to get back to this soon.

[2018-02-07 20:46] mbrush commented on #31
2018-02-07 update: No modeling implemented for these areas yet in GENO, as we have not ingested sources with these data types which would provide impetus and requirements for doing so.

[2018-02-08 22:07] mbrush opened #35 "Terms to describe transmission/inheritance of variance (from DECIPHER)"
Pasteing text from 1-19-18 email thread between Daniel Perrett, Melissa Haendel, and Peter Robinson:

----------------

Dear everybody
Daniel Perrett from the DECIPHER team is asking about terms to describe the transmission (inheritance) of variants. I think this might be best done with GENO.
I agree, Matt has been collecting similar requests from ClinGen and other clinical annotation groups.

Reg

[2018-03-29 16:05] kshefchek commented on #31
I think we're starting to get crispr data from the mods we already ingest, such as MGI.

[2018-03-29 17:03] sbello commented on #31
Any allele with the symbol Abc<em#Xyz> maybe a CRISPR allele (or TALEN created). MGI has several hundred of these. RGD also has some as does ZFIN. In MGI these have the generation method 'Endonuclease-mediated'. Note that in mouse CRISPR has been used to create many different types of alleles, including knock-ins

[2018-07-17 00:36] kshefchek opened #36 "Integration issues with SciGraph"
(Not sure if this ticket belongs here or in SciGraph, but putting here for now)

When using the latest version of GENO we lose most of the genotype neo4j labels on our genotype nodes.
#### Genotypes
[Production Query](https://scigraph-data.monarchinitiative.org/scigraph/cypher/execute.json?cypherQuery=MATCH+%28n%3Agenotype%29+RETURN+COUNT%28DISTINCT%28n%29%29+as+genotypes)

[Dev Query](https://sci

[2018-07-17 03:58] mbrush commented on #36
I've been doing some refactoring of GENO but don't think I've obsoleted any of the classes using to map SciGraph categories.  I checked the following mappings from the monarch load config file [here](https://github.com/monarch-initiative/SciGraph-docker-monarch-data/blob/master/src/main/resources/monarchLoadConfiguration.yaml.tmpl#L66) and the GENO classes used for category mappings are all still

[2018-07-17 15:06] kshefchek commented on #36
I'm rebuilding scigraph with the latest version of GENO now, then I should be able to get more info for you.  I'll check each of those classes to see if anything looks off.

[2018-07-20 16:30] kshefchek commented on #36
It looks like we are missing subClassOf relationships to extrinsic, intrinsic, and effective genotypes, see

https://scigraph-data-dev.monarchinitiative.org/scigraph/graph/neighbors.png?id=GENO:0000536&depth=10&relationshipType=subClassOf&direction=INCOMING

compared to

https://scigraph-data.monarchinitiative.org/scigraph/graph/neighbors.png?id=GENO:0000536&depth=10&relationshipType=subClassOf&di

[2018-07-20 17:04] mbrush commented on #36
It looks like all the subclass relationships in the first diagram are present in the second.  The second one just has additional nodes and subclass edges under GENO:0000719 (intrinsic genotype).

The second diagram is definitely outdated - doesn't match the current GENO ontology.

The first diagram matches the current ontology, but I cant see what  is under each of the second tier nodes to see if

[2018-07-20 17:16] kshefchek commented on #36
Each query is looking at all subclass paths starting at GENO:0000536 and looking at incoming edges, to a maximum depth of 10 edges.  Is it possible these subclassof axioms are missing in the latest ontology or could it be a scigraph integration bug.  We use the develop branch.

[2018-07-20 18:02] mbrush commented on #36
All of  the classes in the second diagram are still present in the current GENO version.  the hierarchical structure under GENO:0000719 (intrinsic genotype) is just a bit different.  For example, an additional level of organizational nodes has been added directly under GENO:0000719 (intrinsic genotype).  Not sure if this would break things, or if this is a scigraph integration bug as you suggest.

[2018-07-20 18:21] kshefchek commented on #36
Taking a look at it in protege, I think the issue is that there is not an explicit subClassOf axiom between genomic genotype and intrinsic genotype, but this can be inferred when running elk over the ontology.  I'm guessing this is intended and the easiest solution is configuring scigraph to reason over the ontology with elk prior to importing into neo4j.  I'll update the configuration and see if

[2018-07-21 16:50] kshefchek commented on #36
This is fixed with adding elk.

[2018-07-21 16:50] #36 closed, assigned to nobody

[2018-08-28 19:52] beckyjackson opened #37 "Typo in label for GENO:0000147"
'autosomal dominant iniheritance' (GENO:0000147) contains an extra *i* in inheritance. Can this be corrected? Thank you!

[2018-08-28 20:08] #37 closed, assigned to nobody

[2018-08-28 20:09] mbrush commented on #37
thanks for noting this.  fixed the typo.

[2018-08-29 22:44] mbrush opened #38 "Represenetaiton of copy number variation"
Need  a way to represent variation due to non-canonical number of copies in the genome.

Not alleles-  because these can exist at any location.

See the VMC CNV model being developed with GA4GH, and the ClinGen representation of copy number variation.

Useful for things like representing the subject of [this](https://civicdb.org/events/assertions/2/summary) variant interpretation (HER2 gene amplif

[2018-10-08 13:31] beckyjackson commented on #2
Hi @mbrush - I'm curious to know if there has been any more work done on including the X/Y linked inheritance classes in GENO? We are now using GENO in DO and would like to use these specific classes. Thank you!

[2018-10-08 22:52] mbrush commented on #2
Hi @rctauber.  A few new inheritance-related classes have made their way into GENO, but nothing approaching the full proposal specced out above.  We could probably push forward on this if there is a dependency for your work with DO. Its been something we've wanted to do for a while anyway, and would have utility in other efforts as well. As noted above, one dependency for implementation is coordin

[2018-10-09 12:22] beckyjackson commented on #2
Proposal 1 would absolutely work for us, and having those specific children would also be fantastic. We import the 'condition inheritance' node and have been using the 'allosomal [dominant/recessive] inheritance' class for X-linked inheritance, but we need to differentiate between X- and Y-linked. So having the X-linked and Y-linked children for allosomal inheritance would be extremely helpful.

P

[2018-10-09 12:53] pnrobinson commented on #2
I think that heredity is not really in scope of a genotype ontology. While perhaps one can say that a dominant genotype can be inherited from a parent, a homozygous genotype cannot (etc).  Also, the phenotypic consequences of a genotype at a given locus may depend on genetic background, and thus whether or not a trait is considered autosomal dominant may depend on the situation.

[2018-10-11 23:15] mellybelly commented on #2
We have discussed including mode of inheritance in GENO for a long time and there have been many requests for it. I don't think there is enough content to warrant a different ontology, and imho it would make sense to most users to include it in GENO since they are often recording genotype information alongside inheritance. I'm also keen to have this information in a species-neutral location, and G

[2018-10-19 23:28] mbrush commented on #35
possibly relevant to #22 and #2

[2018-11-12 23:06] mbrush commented on #3
see also the 'allelic requirement' and 'mutation consequence' slides in the deck here for other requirements: https://www.clinicalgenome.org/site/assets/files/2757/fitzpatrick_ddg2p.pdf . . .has some concepts not  currently in GENO, but related to allele properties, mode of inheritance, and zygosity.  ClinGen GenCC WG also shared slides with similar 'Allelic Requirement' terms (that were distincti

[2018-12-04 20:27] beckyjackson commented on #2
Hi again @mbrush - I just wanted to check on the status of this. Have you reached a decision for these new terms?

[2018-12-06 19:25] mbrush commented on #2
Hi @rctauber. Sorry for dropping the ball here - I haven't had a chance to sync up with @mellybelly and @pnrobinson on this yet.  But I think there is general agreement that Proposal 1 above is preferred - which  creates "inheritance pattern" (aka "mode of inheritance") classes based on multiple axes in combination, for a deeper hierarchy of very specific terms.

I have fleshed out the proposal wi

[2018-12-06 20:18] pnrobinson commented on #2
I do not think this is a good idea. Inheritance and genotypes are not intimately connected.
This is completely duplicative of the corresponding hierarchy in the HPO. The terms are also human centric. It is also a mistake to call a genotype polygenic. This is a mistake in modeling.
I do not see the need for an additional hierarchy of terms in Geno. Is there model organism data for which we want to

[2018-12-06 20:28] mellybelly commented on #2
There is a need to have heredity representation for all organisms, HPO is only for human. I suggest we implement this in GENO and the two ontologies can align and cross reference (or HPO could cede to a more generic place). I don't think we want to have another ontology for this purpose, though that could be an alternative if we don't feel that heredity and genotype components belong in the same o

[2018-12-06 20:42] pnrobinson commented on #2
I think that for model organisms, what is needed is different, since there is always an interplay between experimentation, genetic manipulation, and phenotype. Can you point out some data that we would want to annotate in this way? Maybe I am not understanding the use case.

[2018-12-07 16:48] lschriml commented on #2
Thank you @mbrush for moving this forward.
Our use case, is to be able to differentiate (and annotate) the mode of inheritance for OMIM phenotype terms that are aligned to DO diseases. We are extending the DO's logical definitions. There are cases where a disease is known to be inherited - X-linked, but whether that inheritance is dominant or recessive is unknown.

Thinking about GENO in a broader

[2018-12-10 17:59] pnrobinson commented on #2
I do not think it would be good to mix items such as golgi inheritance, which refer to the way that subcellular organs are transmitted to daughter cells, and inheritance terms that describe how traits or diseases are transmitted!

[2019-01-02 20:55] mbrush opened #39 "Mechanism of Pathogenicity terms"
Consider adding hierarchy of terms describing mechanism of pathogenicity, based on requirements coming initially from ClinGen and GenCC working groups. Terms from GenCC work to harmonize across Gene curation efforts include things  like:

- Loss of function
- Dominant Negative
- All missense/in-frame
- Cis-reg or promoter region
- 5’ or 3’UTR
- Activating
- Increased Gene Dosage
- Duplication
- Tr

[2019-01-02 20:59] pnrobinson commented on #39
VariO has a decent hierarchy of terms like this, see e.g. https://bmcgenomics.biomedcentral.com/articles/10.1186/s12864-018-5262-0

[2019-02-26 11:55] dosumis opened #40 "Alternative label on http://www.geneontology.org/formats/oboInOwl#hasDbXref in geno.owl"
Geno sets the rdfs:label of http://www.geneontology.org/formats/oboInOwl#hasDbXref as hasDbXref when other sources have it as database_cross_reference.

Ideally this should all be set centrally with imports.  In the absence of that, can geno.owl be changed to conform?

ontology_name | IRI | label | short_form
-- | -- | -- | --
vfb | http://www.geneontology.org/formats/oboInOwl#hasDbXref | database

[2019-02-26 15:13] mbrush commented on #40
Thanks David. Fixed manually for now.  Will set up automate import pipeline soon, to ensure all imported labels/terms are kept current.

[2019-02-26 15:13] #40 closed, assigned to nobody

[2019-05-07 01:33] kshefchek opened #41 "term request: mosaic inheritance and/or genotype"
I'm interested in modelling this ClinVar record:
https://www.ncbi.nlm.nih.gov/clinvar/RCV000087646/

I assume mosaicism is more accurately described as a mode of inheritance rather than a genotype, but having some object and/or datatype properties specific to mosaic inheritance could be useful, for example, percentage of one genotype vs another.

[2019-05-07 16:06] kltm opened #42 "Include OBO and JSON as released files"
Currently, GENO apparently only includes OWL for release (OBOF page). To reach a wider audience (tagging AGR/Alliance's @sierra-moxon), it would be nice to have OBO and JSON available as well.

Use of ROBOT is the current workaround.

Tagging @cmungall

[2019-05-07 16:54] matentzn commented on #42
Yes, we should install the latest ODK here as well. Matt, do you want to
set up a meet for late May to do this together?

On Tue, 7 May 2019 at 17:06, kltm <notifications@github.com> wrote:

[2019-05-14 20:31] mbrush opened #43 "Representing uniparental disomy"
The notion of uniprental disomy can be framed in different ways, to describe different aspects of biology:

- a type of sequence alteration: [SO](https://www.ebi.ac.uk/ols/ontologies/so/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FSO_0001744), [Vario](https://www.ebi.ac.uk/ols/ontologies/vario/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FVariO_0209)
- a phenotype: [MP](https://www.ebi.

[2019-05-14 20:48] pnrobinson commented on #43
The particular types of uniparental disomy are diseases, and the top level term is just for grouping. There is no general type of uniparental disomy disease.

[2019-05-20 17:35] mbrush commented on #41
The notion of a genotype as defined in GENO describes variation in the state of the genome of a particular cell.  When a genotype is linked to an organism, there is an implicit assumption that all cells in the organism have the same genome/genotype. This assumption overlooks the possibility that somatic mutations, mosaicism or chimerism can lead to organisms comprised of distinct populations of ce

[2019-09-02 07:15] cmungall opened #44 "Do not use raw github URLs in imports"
geno.owl includes

[code]

In general I recommend a standard ODK setup

[2019-09-02 07:31] cmungall opened #45 "geno-developer imports itself"
[code]

[2019-09-06 06:14] matentzn commented on #44
Agree @mbrush we should pencil in a migration session to ODK soonish; maybe just after 24th sept?

[2019-09-06 18:31] mbrush commented on #44
Yes, lets do that, and aim for late September.  The next few weeks are booked pretty solid for me.

[2019-09-09 14:50] matentzn opened #47 "RO compatibility issue"
On our path to upgrading GENO to ODK, the following two issues came up:

1) GO_0003674 (molecular function) is hardcoded in GENO as function while RO asserts it to be a process
2) GENO makes a lot of use of the 'has role' relationship which formally applies to *independent continuants*. However, most if not all of the entities in GENO are declared to be "generically dependent continuants"; this ca

[2019-09-09 15:08] dosumis commented on #47
GENO is wrong and RO is right (although this should, of course, be coming directly from GO.  @cmungall  - Do we have a GO base, derived from go-edit.obo, that includes this? I guess this also points to the need to ODK-ise RO...)

I understand and support GENOs use of 'has role' here.  We need an RO ticket on this, but perhaps in the meantime need a more generic relation  in GENO?

[2019-10-02 04:23] cmungall commented on #47
go-edit doesn't include this at the moment, we need to improve our go-base,
Eric is working on this

 instead of has-role use inverse of RO_0000052 (will be characteristicof)

On Mon, Sep 9, 2019 at 8:08 AM David Osumi-Sutherland <
notifications@github.com> wrote:

[2019-10-14 21:38] mbrush commented on #47
I removed the molecular function import from GENO, as it was there for exploratory purposes and is not needed.

To deal with the 'has role' issue, for now I created a geno-specific 'has role' object property that is defined to allow for generically dependent continuations as bearers.   I didn't use the suggested inverse(inheres in) approach because I want to be clear that being a 'reference' is a

[2019-10-14 22:34] cmungall commented on #47
RO_0000052 would be fine

It gets confusing if we reuse labels with different IDs. What about something more specific like 'has sequence role'?

this will presumably be coordinated with SO's feature qualities?

This should do for now. However, I would like to revisit some of these classes and what the use case is for them.

Also, text defs should align with logical defs (see my blog post). Compare

[2019-11-11 19:51] TomConlin opened #49 "stalk/short arm and acen terms"
Previously 'GENO:0000628'  was "short_chromosome_arm"
and continues to be used for this in Monochrom.py. to indicate the 'p' arm of a chromosome.

Now GENO:0000628  is  stalk" and is used for this in UCSCBands.py which is more specific than p/short arm.
Decisions on changing Monochrom to use 'stalk' in place of  "short_chromosome_arm"
or and an alternative short arm term is needed.

There is also

[2020-03-05 21:48] sbello opened #50 "new inheritance terms"
We would like to request the following terms be added as children of inheritance pattern (GENO:0000141)

chromosomal inheritance
def: An inheritance pattern wherein the trait is determined by inheritance of extra, missing, or re-arranged chromosomes possibly together with environmental factors.

chromosomal deletion inheritance
def: An inheritance pattern wherein the trait is determined by inherit

[2020-03-06 22:05] mbrush commented on #50
I added the terms as requested, so IRIs are now available:

chromosomal inheritance -  GENO:0000969
chromosomal deletion inheritance - GENO:0000970
chromosomal duplication inheritance - GENO:0000971
chromosomal rearrangement inheritance - GENO:0000972

They are curently in the edit file, but should show up in OLS/Ontobee next week after a new release is cut.

@sbello one question is whether these

[2020-04-08 18:23] mbrush commented on #43
To support the GA4GH Variant Annotation and ClinVar use case where 'inherited', 'uniparental', and 'biparental' are values used to represent allele origin, I am proposing to add terms reflecting this perspective to the GENO 'allele origin' hierarchy as follows.

_**Note**: please read the definitions and comments on all allele origin classes carefully before evaluating this proposal, to understand

[2020-04-24 13:27] cbizon commented on #43
I have read the definitions, but I don't see any difference between germline and inherited allele origins.

I also think you have a spurious tab at the end there making biparental a child of uniparental.

I think I would do this:
[code]

You could even get rid of biparental in favor of saying both maternal and paternal origin.

I think what makes this hard is that the uniparental / biparental dist

[2020-04-24 13:57] mbrush commented on #43
Thanks Chris. I fixed that spurious tab. As for your other points:

1. Good thought about uni/bi parental concepts really being about the allelic complement. The definition in the ontology tries to get around this in the way it defines these concepts:

Does the way the definition is crafted address your concern here, such that these terms can remain in the allele origin hierarchy? Or would you pre

[2020-04-24 14:18] cbizon commented on #43
1 . It's really the definition that makes me think that the uniparental stuff is in the wrong place, because it's pointing at an entity other than the subject of this relation.   That said, I don't know that it's worth creating allele complement origin.  I mean, I think from a logical / cleanliness point of view it's nicer and more accurate, but it might be splitting hairs so finely that it become

[2020-04-24 19:24] larrybabb commented on #43
Here's the official documentation from ClinVar.
[ClinVar Submission Instructions : Allele Origin](https://www.ncbi.nlm.nih.gov/clinvar/docs/spreadsheet/#origin)

We can refine and perfect definitions - which is certainly important. But we should keep our eye on getting the big picture completed "a 'seed' value set that can be extended". I would much prefer to drop any controversial values versus s

[2020-04-24 19:30] cbizon commented on #43
So what's your proposition about what to add @larrybabb ?

[2020-04-24 20:38] mbrush commented on #43
Hi Larry.  It is with my GENO hat on that am looking to improve the allele origin hierarchy in the ontology.  With my GA4GH-VA hat on, I agree that we don't need to perfect things, or worry about hierarchy right now.

For VA, what I think we do need is simply to decide if we want to include all of the ClinVar terms in the list you shared.  I think we do - as long as we make sure 'inherited' is cle

[2020-04-24 20:45] larrybabb commented on #43
That works.
To be clear, I'm fine with a shorter list for the value set. The list doesn't have to be ClinVar's values. I was simply offering examples of what folks are sharing in practice.

[2020-04-28 18:14] mbrush commented on #43
Considering the discussion and use cases above, I am proposing the following GENO 'allele origin' hierarchy. It includes a few new terms to support ClinVar and ClinGen use cases.

[code]
The text below outlines definitions and distinctions in more detail, in support of the updated allele origin hierarchy shown above.

--------

### Foundational Concepts
In GENO, allele origin terms describe how a

[2020-04-28 18:25] mbrush commented on #43
A couple issues were raised for discussion about the proposal above:

**1. Do the bi / uniparental terms really apply to the origin of a single allele - as strictly speaking, they are really about the origin of a pair of alleles at a location - the allelic complement?**
While this is true, I would be comfortable leaving these terms in the allele origin hierarchy for pragmatic purposes. I think gro

[2020-04-28 18:59] pnrobinson commented on #43
biparental allele origin sounds a little strange. In most usages, an allele is on one chromosome and so can either come from mom or dad.

[2020-04-29 17:49] larrybabb commented on #43
Sharing some feedback from Heidi Rehm (this is my translation)...
from HRehm../

[2020-06-20 23:15] #12 closed, assigned to mbrush

[2020-08-13 00:53] monicacecilia commented on #42
:ghost: _... I am the ghost of forgotten tickets._

Dear @mbrush .... did something ever happen here?

[2020-08-13 06:31] matentzn commented on #42
Oh yes this was done! Forgot to close. See here: https://github.com/monarch-initiative/GENO-ontology you would be able to replace the .owl in the Geno PURL by .json and that would work!

[2020-08-13 06:31] #42 closed, assigned to nobody

[2020-08-17 22:40] ramonawalls opened #53 "Consider replacing some terms with PCO classes"
I am working on a new term called taxon, which appears to be the same concept as http://purl.obolibrary.org/obo/GENO_0000113 (taxonomic group) (see PopulationAndCommunityOntology/pco#88). The label could just as well be taxonomic unit. This will be the parent to another new term for operational taxonomic unit (PopulationAndCommunityOntology/pco#9. Because these terms have scope well beyond definin

[2020-08-27 20:55] mbrush commented on #43
Of relevance - the 'Cellular origin of variant' section on p 3 of the ENIGMA article here:  https://jmg.bmj.com/content/56/6/347.full

[2022-05-10 22:22] sierra-moxon opened #55 "grouping term for population, strain, background, fish, genotype, model?"
Data sources use a variety of modeling elements to describe the collection of genetic elements that together produce a particular phenotype or contribute to disease progression.

We'd like one abstract grouping class to collect these various definitions so that we can harmonize the "bag of things" at the organism level, that can be connected to phenotype/disease.

This bag can include:
alleles (an

[2022-05-12 11:09] matentzn commented on #55
@sierra-moxon I think GENO development is now community - only. No one will likely add classes, unless you do it yourself.. I think you can mention this to @cmungall and if he is fine with it, I can help you add that class.

[2022-06-21 16:04] matentzn opened #56 "Change GENO license from CC-BY-SA to a CC-BY 4"
There are a few problems with SA licenses. Think of HPO: if it were to reuse GENO terms, (which would be merged in the release), you will end up, technically, forcing it to adopt the CC-BY-SA license (Share Alike). In other words, we would either:

1. Have to not use GENO, or
2. Deliberately violate its license.

I would suggest to use a more permissive CC-BY 4 license.

[2022-06-21 16:11] mbrush commented on #56
I am good with this.  I will change the info in the README file., and the metadata that HL7-HTA is collecting.  Nico, can you track down other places/registrations where we need to make this change?

[2022-06-21 16:16] matentzn commented on #56
I will take care of GENO and OBO metadata!

[2022-06-21 16:18] matentzn commented on #56
Use https://creativecommons.org/licenses/by/4.0/ (note https)

[2022-06-21 16:22] matentzn commented on #56
Done.